.form-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
 
}

.register-button {
  border-style: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;

}

.alert-login {
  margin-bottom: 15px;
}